<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="online.weiyin.edusys.mapper.ScoreMapper">

    <update id="updateScoreByIDAndRaw">
        update ${year} set
        <if test="rawValue == 'groupScore'">
            group_score = ${score}
        </if>
        <if test="rawValue == 'weaponScore'">
            weapon_score = ${score}
        </if>
        <if test="rawValue == 'tacticalScore'">
            tactical_score = ${score}
        </if>
        <if test="rawValue == 'fightScore'">
            fight_score = ${score}
        </if>
        <if test="rawValue == 'rescueScore'">
            rescue_score = ${score}
        </if>
        <if test="rawValue == 'nuclearScore'">
            nuclear_score = ${score}
        </if>
        <if test="rawValue == 'runScore'">
            run_score = ${score}
        </if>
        <if test="rawValue == 'countScore'">
            count_score = ${score}
        </if>
        where id='${id}'
    </update>
</mapper>